# loops :


 # Python has two primitive loop commands:

while loops
for loops

# The while Loop

With the while loop we can execute a set of 
statements as long as a condition is true.

In [1]:
i = 1
while i < 6:
  print(i)
  i += 1

#Note: remember to increment i,or else the loop will continue forever.

1
2
3
4
5

In [2]:
# break :

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [3]:
# continue statement :

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

# 3 is not print

1
2
4
5
6

In [4]:
# else statement :

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#  for loop:

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [5]:
# list :

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [6]:
# string :

for x in "banana":
  print(x)

b
a
n
a
n
a

In [7]:
# break :

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x) 

# note the previous break code , print statement

apple

In [9]:
# continue statement :

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# range () function :


To loop through a set of code a specified number of times, we can use the range() function,

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [10]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [11]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [12]:
# stepping :Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [13]:
# else :

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [14]:
# break : else is not working in break statement

for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [16]:
 # nested loop :
    
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [17]:
# pass statement:

for x in [0, 1, 2]:
    pass
# having an empty for loop like this, would raise an error without the pass statement

In [18]:
for x in [0, 1, 2]:

SyntaxError: incomplete input (3141620966.py, line 1)