# Python Sets:

A set is a collection which is unordered, unchangeable*, and unindexed.

Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Duplicates Not Allowed
Sets cannot have two items with the same value.

In [1]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

In [2]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [4]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(type(set1))
print(type(set2))
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

In [5]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

{True, 34, 'male', 40, 'abc'}

In [6]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)
# Note: the set list is unordered, so the result will display the items in a random order.

{'banana', 'cherry', 'apple'}

In [7]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [8]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [9]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [10]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'papaya', 'cherry', 'mango', 'pineapple', 'apple'}

In [12]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [13]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [16]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop() # remove the last item in set.

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [17]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [18]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [19]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [20]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [25]:
set1 = {"a", "b" ,"b", "c"}
set2 = {1, 2, 3,3,2,2}

set1.update(set2)
print(set1)
print(set2)

{1, 2, 3, 'c', 'a', 'b'}
{1, 2, 3}

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y) # only common element is return

print(x)

{'apple'}

In [27]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
# common element is drop in update  set
print(x)

{'banana', 'cherry', 'microsoft', 'google'}

In [36]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
# assain the variable 
#x.symmetric_difference(y)==>output :{'banana', 'cherry', 'apple'}
print(z)

{'banana', 'cherry', 'microsoft', 'google'}

# Method	Description:

add()        	Adds an element to the set
clear()	        Removes all the elements from the set
copy()         	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	        Remove the specified item
intersection()   	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()        	Returns whether two sets have a intersection or not
issubset()          	Returns whether another set contains this set or not
issuperset()        	Returns whether this set contains another set or not
pop()	                Removes an element from the set
remove()            	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	                Return a set containing the union of sets
update()	             Update the set with the union of this set and others

In [37]:
# add:

fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'banana', 'cherry', 'orange', 'apple'}

In [38]:
# clear :

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [39]:
#copy :

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'cherry', 'apple'}

In [40]:
# set difference:

#Syntax
#set.difference(set)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) # x and y common is drop and remaining x in store in z 

print(z)

{'banana', 'cherry'}

In [41]:
# difference_update:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [42]:
# discard
#Syntax
#set.discard(value)

fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'cherry', 'apple'}

In [43]:
# intersection:
#Syntax
#set.intersection(set1, set2 ... etc)

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [44]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)
# 
print(result)

{'c'}

In [45]:
#intersection_update

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

In [46]:
#isdisjoint


x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)
# output => true,false
print(z)

True

In [47]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

In [48]:
#issubset
#The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.



x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)
# given set element is fully in other set is given true, otherwise is false

print(z)

True

In [49]:
#issuperset

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [50]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

In [51]:
#pop:

fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'cherry', 'apple'}

In [52]:
# remove
#the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [53]:
# symmetric_difference:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'microsoft', 'google'}

In [54]:
# symmetric_difference_update

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'cherry', 'microsoft', 'google'}

In [55]:
# union

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'banana', 'cherry', 'microsoft', 'google', 'apple'}

In [56]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'e', 'd', 'f', 'c', 'a', 'b'}

In [57]:
#update:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'banana', 'cherry', 'microsoft', 'google', 'apple'}