In [2]:
# print statement
print('Hello')

Hello

In [4]:
x = 20 #Assignment statement
print(x)

20

In [5]:
l = 10 ; b = 20 #add multiple statements on a single line
print("area of triangle", l*b)

area of triangle 200

# Multi-Line Statements

In [6]:
addition = 10 + 20 + \
           30 + 40 + \
           50 + 60 + 70
print(addition)

280

# Implicit continuation:

In [7]:
add = (10+20+
      30+40+
      50+60)
print(add)

210

In [9]:
a = [10 , 12 , 13 ,14]
print(a)

[10, 12, 13, 14]

In [15]:
a = {'muthu': 21,
     'selvam':20,'kannan':30}
print(a)

{'muthu': 21, 'selvam': 20, 'kannan': 30}

In [13]:
students = {'Emma': 70,
            'Kelly': 65,
            'Jessa': 75}
print(students)

{'Emma': 70, 'Kelly': 65, 'Jessa': 75}

In [17]:
x=12
y=24
print(x,y)

12 24

In [18]:
del x,y

In [20]:
print(x,y)

NameError: name 'x' is not defined

In [21]:
x=12
x+=3
print(x)

15

In [22]:
x=12
x=x+3
print(x)

15