# Python Numbers
There are three numeric types in Python:

int
float
complex

In [1]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
#Int
#Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [2]:
#Float
#Float, or "floating point number" is a number, positive or negative, containing one or more decimals.
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [5]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))
print(y)

<class 'float'>
<class 'float'>
<class 'float'>
120000.0

In [6]:
#Complex
#Complex numbers are written with a "j" as the imaginary part:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion

In [7]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python Casting

In [11]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

1
2
3
<class 'int'>
<class 'int'>
<class 'int'>

In [12]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [14]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

s1
2
3.0
<class 'str'>
<class 'str'>
<class 'str'>

# Python Strings

In [15]:
print("Hello")
print('Hello')

Hello
Hello

In [16]:
a = "Hello"
print(a)

Hello

In [17]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [18]:
a = "Hello, World!"
print(a[1])

e

In [19]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [22]:
a = "Hello, World#"
print(len(a))

13

In [28]:
txt = "The best things in life are free!"
print("free"in txt)

True

In [30]:
muthu = "this is th first line"
if "first" in muthu:
    print("yes",":","first present in muthu")

yes : first present in muthu

In [31]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

# Slicing Strings

In [35]:
b = "Hello, World!"
print(b[2:5])

llo

In [37]:
a = "muthu selvam"
print(a[:5])
print(a[4:])
print(a[-9:-2])

muthu
u selvam
hu selv

In [38]:
a = "Hello, World!"
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

In [39]:
a = " Hello, World! " #The strip() method removes any whitespace from the beginning or the end:
print(a.strip())

Hello, World!

In [40]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [42]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

# String Concatenation

In [43]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [44]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# String Format

In [45]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [46]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [47]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# url : https://www.w3schools.com/python/ref_string_format.asp

:<		Left aligns the result (within the available space)
:>		Right aligns the result (within the available space)
:^		Center aligns the result (within the available space)
:=		Places the sign to the left most position
:+		Use a plus sign to indicate if the result is positive or negative
:-		Use a minus sign for negative values only
: 		Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)
:,		Use a comma as a thousand separator
:_		Use a underscore as a thousand separator
:b		Binary format
:c		Converts the value into the corresponding unicode character
:d		Decimal format
:e		Scientific format, with a lower case e
:E		Scientific format, with an upper case E
:f		Fix point number format
:F		Fix point number format, in uppercase format (show inf and nan as INF and NAN)
:g		General format
:G		General format (using a upper case E for scientific notations)
:o		Octal format
:x		Hex format, lower case
:X		Hex format, upper case
:n		Number format
:%		Percentage format

# Escape Characters

In [49]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

# \'	Single Quote	==>txt = 'It\'s alright.'  out==>It's alright.
\\	Backslash	    ==>txt = "This will insert one \\ (backslash)."  out==>This will insert one \ (backslash).
\n	New Line	    ==>txt = "Hello\nWorld!"   out==>Hello
                                                     World!
\r	Carriage Return	 ==>txt = "Hello\rWorld!"  out==>Hello
                                                     World!
\t	Tab	            ==>txt = "Hello\tWorld!"   out==>Hello   World!
\b	Backspace	    ==>txt = "Hello#\bWorld!"  out==>HelloWorld ==>erase before one character ,special,space also.
\f	Form Feed	    ==>
\ooo	Octal value	==>txt = "\110\145\154\154\157"  out==>Hello
\xhh	Hex value   ==>txt = "\x48\x65\x6c\x6c\x6f"  out==>Hello